version: "3.8"

services:
  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins
    # mem_limit: 1G 
    # cpus: "1"     
    volumes:
      - ./jenkins/jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
      - ~/.kube/config:/kube/config:ro
    ports:
      - "8080:8080"
      - "50000:50000"   # JNLP agent port

  mail_server:
    image: marcopas/docker-mailslurper  
    container_name: mailserver
    restart: unless-stopped
    ports:
      - "2500:2500"  # SMTP listener for apps to send emails
      - "9000:8080"  # Inbox
      - "8085:8085"  # optional / service port.. but why