version: "3.8"

services:
  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins
    # mem_limit: 1G 
    # cpus: "1"     
    volumes:
      - ./jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
      - ~/.kube/config:/kube/config:ro
    ports:
      - "8080:8080"
      - "50000:50000"   # JNLP agent port

  # lens:
  #   image: ghcr.io/lensapp/lens:latest  
  #   container_name: lens
  #   restart: unless-stopped
  #   environment:
  #     - DISPLAY=:1
  #     - RESOLUTION=1920x1080
  #   ports:
  #     - "5901:5901"  # VNC port
  #   # devices:
  #   #   - "/dev/dri:/dev/dri"   # GPU acceleration (optional)
  #   shm_size: '1gb'